<h1>Welcome to CSE Motors!</h1>
<div class="hero-banner">
    <img src="/images/your-image.jpg" alt="DMC Delorean" class="banner-image">
    <div class="floating-box">
      <h1>DMC Delorean</h1>
      <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
      <a href="#" class="cta-button">Own Today</a>
    </div>
  </div>