<h1>Management</h1>

<%- messages() %>

<!-- Management links -->
<section>
    <ul>
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Inventory</a></li>
    </ul>
  </section>
</main>